[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "shewhartr"]
	path = shewhartr
	url = https://github.com/castlaboratory/shewhartr
